// Specific CSS for your home-page
.home-banner {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;

  .inner-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
  }
  .form-check {
    display: inline-block;
  }
  .home-search-card {
  color: black;
  width: 400px;
  background-color: #ffffff7d;
  }

}

.space {

    margin-top: 40px;
}

.index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

.home-thumbnail {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(200, 200, 200, 0.2);
  padding: 5px;
}

.homepage-background {
  background-color: #eee;
}


.homepage-subtitles {
  color: #003F5C;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  position: relative;


  &:after{
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    background: #F8B400;
    left: 50%;
    bottom: 0px;
    margin-left: -76px;
    margin-top: 4px;
  }
}
