.container-show{
  width: 95%;
  position: relative;
  background: #eee;
  .container-show-inner {
    padding-left: 40px;
    padding-right: 16px;
  }
}

.booking-prov-amount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-page-logos {
  border: 2px solid black;
}
