<h1>Hello from the booking provider index page</h1>
<p>This page will have information from booking providers at either a country-wide or city-wide level. If the user has not input any filters, the user should see a list of our top booking partners.</p>

