
<div class="container">
      <div class="container header d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-baseline">
            <h2 class="booking-provider-h2 pr-2"><%= @booking_place.name %> </h2>
            <h3 class="booking-provider-h3"><%= @booking_place.country.name if @booking_place.class == City %></h3>
          </div>
          <div class="align-items-center">
            <span class="badge badge-secondary badges-booking-provider"> Oceania </span>
            <span class="badge badge-secondary badges-booking-provider"> March </span>
            <span class="badge badge-secondary badges-booking-provider"> Countryside </span>
            <span class="badge badge-secondary badges-booking-provider"> Culture </span>
            <span class="badge badge-secondary badges-booking-provider"> Mountains </span>
          </div>
      </div>

      <div>
        <h2 class="booking-provider-text">Flights</h2>
        <div class="row">
          <%  @bookingproviders.where(category: "Flight").each do |bookingprovider| %>
            <div class="m-2">
              <%= render partial: 'shared/bookingprovidercard', locals: { bookingprovider: bookingprovider } %>
            </div>
          <% end %>
      </div>
        <h2 class="booking-provider-text">Accomodations</h2>
        <div class="row">
          <%  @bookingproviders.where(category: "Accomodation").each do |bookingprovider| %>
            <div class="m-2">
              <%= render partial: 'shared/bookingprovidercard', locals: { bookingprovider: bookingprovider } %>
            </div>
          <% end %>
      </div>

</div>
