<div class="banner">
  <div class="banner-underlay">
    <div class="banner-underlay-column-1 banner-underlay-image-cover">
    </div>
    <div class="banner-underlay-column-2">
      <div class="banner-underlay-row">
        <div class="banner-underlay-row-column-1 banner-underlay-image-cover js-banner-photo">
        </div>
        <div class="banner-underlay-row-column-2 banner-underlay-image-cover js-banner-photo">
        </div>
        <div class="banner-underlay-row-column-3 banner-underlay-image-cover js-banner-photo">
        </div>
      </div>
      <div class="banner-underlay-row">
        <div class="banner-underlay-row-column-1 banner-underlay-image-cover js-banner-photo">
        </div>
        <div class="banner-underlay-row-column-2 banner-underlay-image-cover js-banner-photo">
        </div>
        <div class="banner-underlay-row-column-3 banner-underlay-image-cover js-banner-photo">
        </div>
      </div>
    </div>

  </div>

<!--   <div class="container banner-content">
    <a class="btn-main-pink large" href="#">See all photos</a>
  </div> -->


</div>


<script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdM63Ki9DQgHpfo98c7b-AieiBSWNXLuc&libraries=places"
    ></script>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      window.myNextTripBanner('<%= @country.name %>');
    });
  </script>
