<div class="banner">
  <div class="banner-underlay">
    <div class="banner-underlay-column-1 banner-underlay-image-cover js-banner-photo" style="background-image: url(https://images.unsplash.com/photo-1561741034-74e72491b43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
    </div>
    <div class="banner-underlay-column-2">
      <div class="banner-underlay-row">
        <div class="banner-underlay-row-column-1 banner-underlay-image-cover js-banner-photo" style="background-image: url(https://images.unsplash.com/photo-1544116542-e26189af12e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
        </div>
        <div class="banner-underlay-row-column-2 banner-underlay-image-cover js-banner-photo" style="background-image: url(https://images.unsplash.com/photo-1568805778632-2c6259d8d9ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
        </div>
        <div class="banner-underlay-row-column-3 banner-underlay-image-cover js-banner-photo" style="background-image: url(https://images.unsplash.com/photo-1568805778598-fcb2852dbac1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
        </div>
      </div>
      <div class="banner-underlay-row">
        <div class="banner-underlay-row-column-1 banner-underlay-image-cover js-banner-photo" style="background-image: url(https://images.unsplash.com/photo-1560201282-13ba9fc2ca0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
        </div>
        <div class="banner-underlay-row-column-2 banner-underlay-image-cover js-banner-photo" style="background-image: url(https://images.unsplash.com/photo-1543837452-806b98b18ead?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
        </div>
        <div class="banner-underlay-row-column-3 banner-underlay-image-cover js-banner-photo" style="background-image: url(https://images.unsplash.com/photo-1518259102261-b40117eabbc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
        </div>
      </div>
    </div>

  </div>

  <div class="container banner-content">
    <h1 class="banner-heading-city"><%= @city.name %></h1>
    <h2 class="banner-heading-country"><%= @city.country.name %></h2>
    <a class="btn-main-pink large" href="#">See all photos</a>
  </div>


</div>


  <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdM63Ki9DQgHpfo98c7b-AieiBSWNXLuc&libraries=places"
    ></script>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      window.myNextTripBanner('<%= @city.name %>');
    });
  </script>
