<div class="card booking-provider-card">
  <img class="city-card-image" src="https://source.unsplash.com/random/500x500/?logo" />
  <div class="card-body">
    <h5 class="card-title"><%= bookingprovider.name %></h5>
    <p class="card-text"><%= bookingprovider.website %></p>
    <p class="card-text"><%= bookingprovider.description %></p>
    <p class="card-text"><%= bookingprovider.category %></p>
  </div>
</div>
