<div class="card booking-provider-card">

  <%= image_tag bookingprovider.description, class: "booking-provider-image" %>
  <div class="booking-provider-content">
      <h5 class="booking-provider-title"><%= bookingprovider.name %></h5>
        <p class="booking-provider-text"><%= bookingprovider.website %></p>

  </div>
</div>
