<%= link_to bookingprovider.website, target: :_blank do %>
  <div class="card booking-provider-card">
    <%= image_tag bookingprovider.description, class: "booking-provider-image" %>
    <div class="booking-provider-content">
        <h4 class="booking-provider-title"><%= bookingprovider.name %></h4>
    </div>
  </div>
<% end %>
