<div class="card booking-provider-card">
  <img class="booking-provider-image" src="https://www.underconsideration.com/brandnew/archives/skyscanner_2019_logo.png" />
  <div class="booking-provider-content">
      <h5 class="booking-provider-title"><%= bookingprovider.name %></h5>
        <p class="booking-provider-text"><%= bookingprovider.website %></p>
        <!-- <p class="booking-provider-text"><%= bookingprovider.description %></p> -->
        <p class="booking-provider-text"><%= bookingprovider.category %></p>
  </div>
</div>
