<%= link_to city_path(city), target: :_blank do %>
  <div class="city-card">
      <%= image_tag city.photo, class: "city-card-image" %>
      <div>
        <span class="city-card-temp">celcius</span><br>
    </div>
    <div class=“city-card-content”>
        <h2 class=“city-card-title”> <%= city.name %></h2>
        <h3 class=“city-card-country”><%= city.country.name %></h3>
    </div>
  </div>
<% end %>
