<div class="country-card">
  <%= link_to country_path(country) do %>
  <% end %>

  <%= image_tag country.photo, class: "country-card-image" %>
  <div class="country-card-content">
      <h2 class="country-card-title"> <%= country.name %></h2>
  </div>
</div>
