<%= link_to country_path(country) do %>
  <div class="country-card">
    <img class="country-card-image" src="https://source.unsplash.com/random/500x500/?country" />
    <h3 class="country-card-temp">25°C</h3>
    <div class="country-card-content">
        <h2 class="country-card-title"> <%= country.name %></h2>
    </div>
  </div>
<% end %>
