<%= link_to country_path(country) do %>
  <div class="country-card">
    <%= image_tag country.photo, class: "country-card-image" %>
    <div>
      <span class="country-card-temp">celcius</span><br>

    </div>
    <div class="country-card-content">
        <h2 class="country-card-title"> <%= country.name %></h2>
    </div>
  </div>
<% end %>
