<div class="footer-bottom">
  <div class="footer-logo">
    <%= image_tag "logo.png" %>
  </div>
  <div class="footer-bottom-div text-right">
    <a href="https://www.instagram.com/explore/tags/travel/?hl=en" style="font-size:70px; color:#FA163F;"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook" style="font-size:70px; color:#FA163F;"></i></a>
  </div>
</div>
