<div class="footer-cont">
  <div class="footer-links">
    <a href="https://github.com/xeonfab/mynexttrip"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/explore/tags/travel/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/home?lang=en-gb"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div>
