<div class="home-page__footer-hero" style="background-image: url(<%= asset_path 'beach.jpeg' %>);">
  <div class="home-page__footer-hero-content">
    <h2 class="home-page__footer-hero-content-title">Over 350 Cities and 190 Countries</h2>
    <h3 class="home-page__footer-hero-content-subtitle">What are you waiting for?</h3>
    <a class="btn-white large" href="#">Find your trip <i class="fa fa-search"></i> </a>
  </div>

</div>

