<form class="wizard js-wizard">
  <img src="" alt="">
  <div class="wizard-steps-container js-wizard-steps is--step-1">
    <div class="wizard-steps-step wizard-steps-step-0">
      My next Trip is awesome etc
    </div>
    <div class="wizard-steps-step wizard-steps-step-1">
      <div class="horizontal-checkboxes">
        I like
        <div class="step-1-checkbox">
          <input type="checkbox" name="theme" id="romantic" value="romantic" checked class="horizontal-checkboxes-input">
          <label class="horizontal-checkboxes-label" for="romantic">romance,</label>
        </div>
        <div class="step-1-checkbox">
          <input type="checkbox" name="theme" id="city" value="city" class="horizontal-checkboxes-input">
          <label class="horizontal-checkboxes-label" for="city">cities,</label>

        </div>
        <div class="step-1-checkbox">
          <input type="checkbox" name="theme" id="beach" checked value="beach" class="horizontal-checkboxes-input">
          <label class="horizontal-checkboxes-label" for="beach">beaches,</label>
        </div>
        <div class="step-1-checkbox">
          <input type="checkbox" name="theme" id="culture" value="culture" class="horizontal-checkboxes-input">
          <label class="horizontal-checkboxes-label" for="culture">culture,</label>
        </div>
        <div class="step-1-checkbox">
          <input type="checkbox" name="theme" id="mountains" value="mountains" class="horizontal-checkboxes-input">
          <label class="horizontal-checkboxes-label" for="mountains">mountains,</label>
        </div>
        <div class="step-1-checkbox">
          <input type="checkbox" name="theme" id="shopping" checked value="shopping" class="horizontal-checkboxes-input">
          <label class="horizontal-checkboxes-label" for="shopping">shopping,</label>
        </div>
        <div class="step-1-checkbox">
          <input type="checkbox" name="theme" id="luxury" value="luxury" class="horizontal-checkboxes-input">
          <label class="horizontal-checkboxes-label" for="luxury">luxury,</label>
        </div>
        <div class="step-1-checkbox">
          <input type="checkbox" name="theme" id="countryside" value="countryside" class="horizontal-checkboxes-input">
          <label class="horizontal-checkboxes-label" for="countryside">the outdoors.</label>
        </div>
      </div>
        <!-- <p><input type="submit" value="Submit"></p> -->
    </div>

    <div class="wizard-steps-step wizard-steps-step-2">
      Step 2
      <p>When do you want to travel?</p>
      <div class="horizontal-checkboxes">
        <div>
          <input type="checkbox" name="month" id="skip2" value="skip">
          <label class="horizontal-checkboxes-label" for="skip2"> I don't mind</label>
        </div>
        <div>
        <input type="checkbox" name="month" id="january" value="January">
        <label class="horizontal-checkboxes-label" for="january">January</label>
        </div>
        <div>
          <input type="checkbox" name="month" id="february" value="February">
          <label class="horizontal-checkboxes-label" for="february">February</label>
        </div>
        <div>
          <input type="checkbox" name="month" id="march" value="March">
          <label class="horizontal-checkboxes-label" for="march">March</label>
        </div>
        <div>
          <input type="checkbox" name="month" id="april" value="April">
          <label class="horizontal-checkboxes-label" for="april">April</label>
        </div>
        <div>
          <input type="checkbox" name="month" id="may" value="May">
          <label class="horizontal-checkboxes-label" for="may">May</label>
        </div>
        <div>
         <input type="checkbox" name="month" id="june" value="June">
         <label class="horizontal-checkboxes-label" for="june">June</label>
        </div>
        <div>
          <input type="checkbox" name="month" id="july" value="July">
          <label class="horizontal-checkboxes-label" for="july">July</label>
        </div>
        <div>
         <input type="checkbox" name="month" id="august" value="August">
         <label class="horizontal-checkboxes-label" for="august">August</label>
        </div>
        <div>
         <input type="checkbox" name="month" id="september" value="September">
         <label class="horizontal-checkboxes-label" for="september">September</label>
        </div>
        <div>
         <input type="checkbox" name="month" id="october" value="October">
          <label class="horizontal-checkboxes-label" for="october">October</label>
        </div>
        <div>
         <input type="checkbox" name="month" id="november" value="November"> November
         <label class="horizontal-checkboxes-label" for="november"></label>
        </div>
        <div>
         <input type="checkbox" name="month" id="december" value="December"> December
         <label class="horizontal-checkboxes-label" for="december"></label>

        </div>
        <div>
          <!-- <p><input type="submit" value="Submit"></p> -->

        </div>
      </div>
    </div>

    <div class="wizard-steps-step wizard-steps-step-3">
      Step 3
      <p>How hot?</p>
      <div class="horizontal-checkboxes">
        <div>
          <input type="checkbox" name="temp" id="skip3" value="skip"> I don't mind
          <label class="horizontal-checkboxes-label" for="skip3"></label>
        </div>
        <div>
        <input type="checkbox" name="temp" id="cool" value="cool"> Cool 10째C+
        <label class="horizontal-checkboxes-label" for="cool"></label>
        </div>
        <div>
          <input type="checkbox" name="temp" id="mild" value="mild"> Mild 15째C+
          <label class="horizontal-checkboxes-label" for="mild"></label>
        </div>
        <div>
          <input type="checkbox" name="temp" id="warm" value="warm"> Warm 20째C+
          <label class="horizontal-checkboxes-label" for="warm"></label>
        </div>
        <div>
          <input type="checkbox" name="temp" id="hot" value="hot"> Hot 25째C+
          <label class="horizontal-checkboxes-label" for="hot"></label>
        </div>
      </div>
      <!-- <p><input type="submit" value="Submit"></p> -->
    </div>

    <div class="wizard-steps-step wizard-steps-step-4 ">
      Step 4
      <p>How hot?</p>
      <div class="horizontal-checkboxes">
        <div>
          <input type="checkbox" name="region" id="skip4" value="skip"> I don't mind
          <label class="horizontal-checkboxes-label" for="skip4"></label>
        </div>
        <div>
        <input type="checkbox" name="region" id="europe" value="europe"> Europe
        <label class="horizontal-checkboxes-label" for="europe"></label>
        </div>
        <div>
          <input type="checkbox" name="region" id="north_america" value="north america"> North America
          <label class="horizontal-checkboxes-label" for="north_america"></label>
        </div>
        <div>
          <input type="checkbox" name="region" id="south_america" value="south america"> South America
          <label class="horizontal-checkboxes-label" for="south_america"></label>
        </div>
        <div>
          <input type="checkbox" name="region" id="africa" value="africa"> Africa
          <label class="horizontal-checkboxes-label" for="africa"></label>
        </div>
        <div>
          <input type="checkbox" name="region" id="asia" value="asia"> Asia
          <label class="horizontal-checkboxes-label" for="asia"></label>
        </div>
        <div>
        <input type="checkbox" name="region" id="oceania" value="oceania"> Oceania
        <label class="horizontal-checkboxes-label" for="oceania"></label>
        </div>
      </div>
      <!-- <p><input type="submit" value="Submit"></p> -->
    </div>
  </div>

  <div class="wizard-actions">
    <button class="js-wizard-previous" type="button">Previous</button>
    <button class="js-wizard-next" type="button">Next</button>
  </div>
</form>

