<%= link_to region_path(region) do %>
  <div class="region-card">

    <%= cl_image_tag region.photo.key, class: "region-card-image"  %>
    <div class="region-card-content">
      <h2 class="region-card-title"><%= region.name %></h2>
    </div>
  </div>
<% end %>

<%= link_to "Africa", region_path(region), class: "dropdown-item" %>
