<div class="region-card">
  <%= link_to region_path(region) do %>
  <% end %>
  <%= cl_image_tag region.photo.key, class: "region-card-image" %>

  <div class="region-card-content">
    <h2 class="region-card-title"><%= region.name %></h2>
  </div>
</div>
