
<div style="height: 80vh">
 <%= render 'shared/onboarding-wizard' %>
</div>
<div class="homepage-background">
  <div class="container pt-5">
    <h1 class="text-center mb-3 homepage-subtitles">Regions to Discover</h1>
    <div class="row">
      <%  @regions.each do |region| %>
        <div class="col-lg-3 mb-3">
          <%= render partial: 'shared/regioncard', locals: { region: region } %>
        </div>
      <% end %>
    </div>


    <h1 class="text-center mb-3 homepage-subtitles">Countries to Discover</h1>
    <div class="row">
      <%  @countries.each do |country| %>
      <div class="col-lg-3 mb-3">
        <%= render partial: 'shared/countrycard', locals: { country: country } %>
      </div>
      <% end %>
    </div>
    <h1 class="text-center mb-3 homepage-subtitles">Cities to Discover</h1>
    <div class="row">
      <%  @cities.each do |city| %>
        <div class="col-lg-3 mb-3">
        <%= render partial: 'shared/citycard', locals: { city: city } %>
        </div>
      <% end %>
  </div>
</div>
