<h1>Hello from the home page. This should display 8 popular destination cards, plus the search bar.</h1>

<%= link_to "City/country double index", cities_path %>

<p> ^^^^ This button is for when the user clicks the smart search button but they haven't put in any search filters - aka "Top travel destinations page"</p>

<%= link_to "City show page", city_path(:id) %>

<p> ^^^^ This button is for when the user clicks one of the city cards</p>

<%= link_to "Country show page", country_path(:id) %>

<p> ^^^^ This button is for when the user clicks one of the country cards</p>

<div>
  <%= cl_image_tag @city.photo.key, alt: "alttext", class: "card-img-top"  %>
</div>
