<div class="container">
  <section>
  <h2>City card</h2>
  <!-- = link_to "City show page", city_path(:id) do %> -->
    <div class="city-card">
      <img class="city-card-image" src="https://source.unsplash.com/random/500x500/?lisbon" />
      <h3 class="city-card-temp">25°C</h3>
      <div class="city-card-content">
          <h2 class="city-card-title">Lisbon</h2>
          <h3 class="city-card-country">Portugal</h3>
      </div>
    </div>
</div>
  <!-- % end %> -->

</section>
<hr />

<section>
  <h2>Country card</h2>
  <!-- = link_to "City show page", city_path(:id) do %> -->
    <div class="country-card">
      <img class="country-card-image" src="https://source.unsplash.com/random/500x500/?portugal" />
      <h3 class="country-card-temp">25°C</h3>
      <div class="country-card-content">
          <h2 class="country-card-title">Lisbon</h2>
      </div>
    </div>
  <!-- % end %> -->

</section>
<hr />
<section>
<h2>Collapsible</h2>


</section>
<hr />

<section>
  <h2>Button</h2>


</section>
<hr />

<section>
  <h2>Tabs</h2>


</section>
<hr />
<section>
  <h2>Search bar</h2>


</section>
<hr />

<section>
  <h2>Navbar</h2>


</section>
<hr />

<section>
  <h2>Dropdown menu</h2>


</section>
<hr />

<section>
  <h2>Icon checkbox</h2>


</section>
<hr />

<section>
  <h2>Multiselect dropdown</h2>


</section>
<hr />

<section>
  <h2>Multistep form</h2>


</section>
<hr />

<section>
  <h2>Map</h2>


</section>
<hr />

<section>
  <h2>Widgets (TBC) (eg safety ...)</h2>


</section>
<hr />

<section>
  <h2>CTA Card (call to action - top right of the city page)</h2>


</section>
<hr />

<section>
  <h2>Skysc anner widget</h2>


</section>
<hr />

<section>
  <h2>Search</h2>


</section>
<hr />

<section>
  <h2>Search</h2>


</section>
<hr />

<section>
  <h2>Search</h2>


</section>
<hr />
</div>
