<div class="container">
  <section>
  <h2>City card</h2>
  <div class="card city-card">
    <img class="city-card-image" src="asdfasdf" />
    <h2 class="city-card-title">Melbourne</h2>
    <h3 class="city-card-country">Australia</h3>
  </div>

</section>
<hr />

<section>
  <h2>Country card</h2>


</section>
<hr />
<section>
<h2>Collapsible</h2>


</section>
<hr />

<section>
  <h2>Button</h2>


</section>
<hr />

<section>
  <h2>Tabs</h2>


</section>
<hr />
<section>
  <h2>Search bar</h2>


</section>
<hr />

<section>
  <h2>Navbar</h2>


</section>
<hr />

<section>
  <h2>Dropdown menu</h2>


</section>
<hr />

<section>
  <h2>Icon checkbox</h2>


</section>
<hr />

<section>
  <h2>Multiselect dropdown</h2>


</section>
<hr />

<section>
  <h2>Multistep form</h2>


</section>
<hr />

<section>
  <h2>Map</h2>


</section>
<hr />

<section>
  <h2>Widgets (TBC) (eg safety ...)</h2>


</section>
<hr />

<section>
  <h2>CTA Card (call to action - top right of the city page)</h2>


</section>
<hr />

<section>
  <h2>Skysc anner widget</h2>


</section>
<hr />

<section>
  <h2>Search</h2>


</section>
<hr />

<section>
  <h2>Search</h2>


</section>
<hr />

<section>
  <h2>Search</h2>


</section>
<hr />
</div>
