<div class="index-container">

  <div class="index-container-column">
    <div id= "feature-filter-container">

      <%= render "shared/feature-filter-container" %>
    </div>

    <div id= "indexcontainer">
      <%= render "shared/index-container-country" %>
    </div>
  </div>
</div>
