.city-card {
    background-color: black;
    max-width: 400px;
    min-height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0; // Safe zone for the temperature.
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(200, 200, 200, 0.2);
    background-image: linear-gradient(to top, rgba(0, 63, 92, 0.2));
    border-radius: 4px;


  .city-card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.8s ease;
  }

  .city-card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    text-shadow: 0px 0px 10px black;
  }


  .city-card-title {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: Montserrat;

  }
  .city-card-country {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat;
  }

   &:hover .city-card-image {
    transform: scale(1.1)
  }

  .container-details {
    width: 100%;
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-around;
    bottom: 0;
    padding: 4px;
    margin-bottom: 4px;
    margin-x: 5px;
    background: rgba(250, 245, 228, 0.1);
    border-radius: 4px;
    }

  .city-card-temp {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat;
    z-index: 5
  }

    .city-card-air {

    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat;
    z-index: 5
  }

      .city-card-cost {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat;
    z-index: 5
  }
  .page-icon {
    color: #eee;
  }

}
