.country-card {
    background-color: black;
    max-width: 400px;
    min-height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0; // Safe zone for the temperature.
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(200, 200, 200, 0.2);
    border-radius: 4px;

  .country-card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.8s ease;

  }

  .country-card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    text-shadow: 0px 0px 10px black;
  }


  .country-card-title {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: Montserrat;

  }
  .country-card-country {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat;
  }

  .country-card-temp {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat;
    position: absolute;
    left: 10px;
    bottom: 6px;
  }
   &:hover .country-card-image {
    transform: scale(1.1);
    text-decoration: none;
  }

      .country-card-air {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat;
    position: absolute;
    left: 60px;
    bottom: 6px;
  }

      .country-card-cost {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat;
    position: absolute;
    left: 120px;
    bottom: 6px;
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}
