.skyscanner-widget-container {
  border: solid #003F5C 1px;
  border-radius: 4px;
  padding: 16px;
  background-color: #003F5C;
  span {
    color: white;
  }
}

.SearchWidget__searchWidget___1vXnn {

}

.bpk-button {
  background-color: #F8B401 !important;
  background-image: unset !important;
  font-color: #003F5C !important;
}

.ReferralButton__cta___2Yxt0 {
  color: #003f5c !important;
}

