.wizard {
  background: #003F5C;
  position: relative;
  color: white;
  text-align: center;
  min-height: 80vh;
  height: 100%;
  overflow: hidden;


  .btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  .btn-ghost:hover {
    opacity: 1;
  }

  .wizard-steps-container {
    width: 4000px;
    height: 2800px;
    transition: transform 1.5s;
    transform: translate3d(0, 0, 0);
  }

  .wizard-background-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 2800px;
    width: 4000px;
  }


  .wizard-steps-step {
    width: 700px;
    height: 500px;
    // border: 2px solid white;
    opacity: 1;
    transition: opacity 1s;
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 999999px;
    padding: 0 50px;
  }



  .wizard-steps-step-0 {
    width: 95vw;
    height: 90vh;
    top: -750px;
    left: 2060px;
    display: flex;
    .onboard-left {
      text-align: left;
      width: 50%;
      .onboard-logo {
      width: 184px;
      height: 71px;
      margin-bottom: 37px;
      }
      .onboard-title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 1000;
      font-size: 50px;
      line-height: 61px;
      }
      .onboard-subtitle {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 30px;
      margin-top: 18px;
      }
      .onboard-bottom {
        width: 80%;
      }
      .onboard-btn {
        text-align: left;

        .btn-main-yellow {
          margin-top: 35px;
          color: #003F5C;
          padding: 12px 40px;
          transition: background 0.3s ease;
          background-color: #F8B400;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.13);
          border-radius: 5px;
          text-align: left;
          .large {
            width: 336px;
            height: 76px;
          }
        }
      }

      .btn-main-yellow:hover {
        color: white;
        text-decoration: none;
      }
    }

      .onboard-img-div{
    display: flex;
    justify-content: center;
    align-items: center;

     .onboard-img {
    background-blend-mode: soft-light, normal;
    border-radius: 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    height: 505px;
    width: 550px;
    }
  }
  }

  .wizard-steps-step-1 {
    top: 410px;
    left: 428px;
  }

  .wizard-steps-step-2 {
    top: 1400px;
    left: 1400px;
    transform: rotate(-10deg);
  }

    .wizard-steps-step-3 {
    top: 350px;
    left: 1800px;
  }

    .wizard-steps-step-4 {
    top: 1960px;
    left: 2175px;
    transform: rotate(-10deg)
  }


  .wizard-steps-container.is--step-0 {
    transform: translate3d(-2000px, 700px, 0);



  }
  .wizard-steps-container.is--step-1 {

    transform: translate3d(-500px, -440px, 0);
  }
  .wizard-steps-container.is--step-2 {
    transform: translate3d(-1370px, -1290px, 0) rotate(10deg);
  }
  .wizard-steps-container.is--step-3 {
    transform: translate3d(-1800px, -320px, 0);
  }
  .wizard-steps-container.is--step-4 {
    transform: translate3d(-1950px, -1995px, 0) rotate(10deg);
  }
  .wizard-actions {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }


  .sentence-checkboxes {
    font-size: 25px;
    display: inline-block;

    > * {
      display: inline-block;
    }

    .sentence-checkboxes-input {
      opacity: 0;
      position: absolute;
      height: 0;
      width: 0;
    }
    .sentence-checkboxes-label {
      opacity: 0.5;
      transition: opacity 0.3s;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: calc(100% - 5px);
        left: 0;
        width: 0;
        height: 2px;
        background: white;
        transition: width 0.3s;
      }
    }
    .sentence-checkboxes-input:checked + .sentence-checkboxes-label {
      opacity: 1;

      &:after {
        width: calc(100% - 8px);
      }
    }
  }
  .month-checkboxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-content: center;


    .month-checkboxes-input {
      opacity: 0;
      position: absolute;
      height: 0;
      width: 0;
    }
    .month-checkboxes-label {
      opacity: 0.5;
      transition: opacity 0.3s;
      color: white;
      border-radius: 8px;
      border: 1px solid white;
      display: block;
      line-height: 120px;
      width: 140px;
      padding: 0 20px;
    }
    .month-checkboxes-input:checked + .month-checkboxes-label {
      opacity: 1;
      background: rgba(255,255,255,0.8);
      color: $blue;
      font-weight: bold;
    }

    .month-checkboxes button {
      padding-top: 20px;
    }
  }

  $themometer_bulb_size: 110px;

  .temp-checkboxes {
    .temp-checkboxes-options {
      position: relative;
      z-index: 1;
      height: 100%
    }
    .temp-checkboxes-thermometer {
      width: 50px;
      background: white;
      border-radius: 25px;
      height: 400px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -($themometer_bulb_size - 80px);
        width: $themometer_bulb_size;
        height: $themometer_bulb_size;
        border-radius: 100%;
        background: white;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 10px;
        left: -($themometer_bulb_size - 90px);
        width: $themometer_bulb_size - 20px;
        height: $themometer_bulb_size - 20px;
        border-radius: 100%;
        background: red;
      }
    }

    .temp-checkboxes-input {
      opacity: 0;
      position: absolute;
      height: 0;
      width: 0;
    }
    .temp-checkboxes-label {
      opacity: 0.5;
      transition: opacity 0.3s;
      color: white;
      border-radius: 2px;
      line-height: 30px;
      width: 170px;
      height: 20%;
      padding-left: 60px;
      position: relative;
    }
    .temp-checkboxes-thermometer-inner {
      width: 30px;
      background: red;
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 20px;
      min-height: 30px;
      transition: top 0.3s;
    }
    .temp-checkboxes-input:nth-of-type(1):checked ~ .temp-checkboxes-thermometer-inner {
      top: 10px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .temp-checkboxes-input:nth-of-type(2):checked ~ .temp-checkboxes-thermometer-inner {
      top: 25%;
    }
    .temp-checkboxes-input:nth-of-type(3):checked ~ .temp-checkboxes-thermometer-inner {
      top: 50%;
    }
    .temp-checkboxes-input:nth-of-type(4):checked ~ .temp-checkboxes-thermometer-inner {
      top: 65%;
    }
    .temp-checkboxes-input:checked + .temp-checkboxes-label {
      opacity: 1;

      &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 0;
        width: 30px;
        height: 2000px;
        // background-color: red;
      }

      &.temp-checkboxes-label-top:after {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        top: 10px;
      }
    }
  }
  .continent-checkboxes {
    width: 748px;
    height: 396px;
    position: relative;
    background-color: #003F5C;

    .continent-checkboxes-input {
      opacity: 0;
      position: absolute;
      height: 0;
      width: 0;
    }
    .continent-checkboxes-label {
      opacity: 0.5;
      transition: opacity 0.3s;
      color: white;
      border-radius: 8px;
      display: block;
      position: absolute;
      span {
        position: absolute;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
    .continent-checkboxes-input:checked + .continent-checkboxes-label {
      opacity: 1;
    }
    .continent-checkboxes-label-north-america {
      width: 46.25%;
      height: 53.03%;
      left: 0%;
      top: 0%;
            span {
      top: -10%;
      left: 5%;
      }

    }
    .continent-checkboxes-label-south-america {
      width: 16.17%;
      height: 50.25%;
      left: 19.44%;
      top: 49.36%;
            span {
      left: -90%;
      top: 70%;
      }
    }
    .continent-checkboxes-label-africa {
      width: 23.74%;
      height: 53.5%;
      top: 30.87%;
      left: 41.61%;
            span {
      left: 0%;
      top: 60%;
      }
    }
    .continent-checkboxes-label-asia {
      width: 42.2%;
      height: 64.64%;
      top: 1.88%;
      left: 56.08%;
            span {
      left: 96%;
      top: 40%;
      }
    }
    .continent-checkboxes-label-europe {
      width: 24.5%;
      height: 31.21%;
      top: 1.99%;
      left: 42.31%;
      span {
      top: -20%;
      left: 50%;
      }
    }
    .continent-checkboxes-label-oceania {
      width: 14.3%;
      height: 32.07%;
      top: 58.81%;
      left: 85.47%;
      span {
      top: 90%;
      left: 78%;
      }
    }
  }
}

