<h1>Climates#index</h1>
<p>Find me in app/views/climate/index.html.erb</p>

<%= link_to "Country show", country_path(:id) %>
<p> ^^^^ This button is for when the user clicks country card</p>


<%= link_to "City show", city_path(:id) %>
<p> ^^^^ This button is for when the user clicks a city card</p>
