<h1>Hello from the city show page</h1>
<h2>This page will display all the features of a given city.</h2>

<%= link_to "Booking providers", city_booking_providers_path(:id) %>
<p> ^^^^ This button is for when the user clicks 'Show booking parnters' button</p>

<div data-skyscanner-widget="SearchWidget"></div>
<script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>

