<div class="container">
  <h1><%= @region.name %></h1>
  <div class="index-grid">
      <%  @countries.each do |country| %>
        <%= render partial: 'shared/countrycard', locals: { country: country } %>
      <% end %>
  </div>
  <div class="index-grid">
  <%  @cities.each do |city| %>
    <%= render partial: 'shared/citycard', locals: { city: city } %>
  <% end %>
  </div>

</div>
